body {
  background: radial-gradient(circle, #2b0040, #0b0014);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.anime-card {
  background: #7f4bff;
  padding: 40px 10px;
  border-radius: 15px;
}
